@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: rgb(32, 33, 37);
    color: white; 
    font-family: 'Montserrat', sans-serif;
}
.top-gradient{
    height: 495px;
    background: linear-gradient( rgba(32, 33, 37,1), rgba(32, 33, 37,0.8), transparent );
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.container{
    display: block;
    margin: auto;
    max-width: 1170px;
    z-index: 3 !important;
    position: relative;
}

nav{
    margin-top: 80px;
}


nav ul{
    list-style: none;
    display: flex;
    padding-left: 0;
    position: sticky;
    cursor: pointer;
}

nav ul li{
    margin-right: 30px;
    padding: 10px;
    padding-left: 0;
}

main{
    display: flex;
    height: 467px;
    align-items: flex-end;
    position: absolute;
    left: 0;
    right: 0;
}

.bgImage{
    position: absolute;
    display: block;
    width: 100%;
    height: 456px;
    left: 0px;
    right: 0px;
    z-index: 1;
    top: 130px;
    object-fit: cover;
}

.left{
    width: 1317px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo{
    height: 60px;
    width: auto;
    margin-bottom: 30px;
}

.search{
    justify-content: space-evenly;
    width: 100%;
    display: flex;
}
.searchBar{
    height: 50px;
    width: 91%;
    font-weight: 400;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    border: none !important;
    margin-bottom: 30px;
}
.icon{
    background-color: #cbe963;
    color: black;
    font-weight: bold;
    font-size: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9%;
    height: 50px;
    margin: 0 10px;
}


.topSearch{

}
.topSearch p{

}

.right {
    width: 100%;
}

.zoro{
    display: block;
    width: 100%;
}
.viewSite{
    background-color: #cbe963;
    color: black;
    position: relative;
    z-index: 3;
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 467px;
    align-items: center;
    padding: 20px 30px;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 13px;
}
.viewSite h2{
    cursor: pointer;
}

.viewSite i{
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}
.shareZoro{
    padding: 20px 30px ;
    margin-top: 60px;
    border-radius: 10px;
    color: #cbe963;
    background-color: #131314;
    
}
.discription{
    display: flex;

    margin-top: 50px;
}

.discriptionL{

    width: 100%;
}
.discriptionL h2{
    margin-bottom: 20px;
}
.discriptionL p{
   margin-bottom: 20px;
   font-weight: normal;
   color: gray;
   font-size: 14px;
}
.discriptionR{
    width: 60%;
    padding: 0 20px;
}

.drblock{
    background-color: #2b2c30;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px 20px;
}